
.jquery-alert
{
	display: block;	

	clear:right;
	
	width:300px;
	
	margin-bottom:15px;
	
	opacity: 0;
	/*
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	*/
}

#jquery-alerts-container
{
	position: absolute;
	top:0;
	right:0;
	
	z-index: 9999;
	display: table;
	
	padding:15px;
}

#jquery-alerts-container .alert
{
	margin-bottom:0;
	
}