@import "common.less";



.jquery-alert
{
	position: absolute;
	display: block;


	z-index:9999;
	
	padding:10px;
	h3
	{
		margin:0;
		
	}
}

	
.jquery-alert-warning
{
	background: #fcf8e3;
	border:1px solid #faebcc;
}

#jquery-alerts-container
{
	position: absolute;
	top:0;
	right:0;
	
	z-index: 9999;
	display: table;
	
	padding:15px;
}
