

@blur:10px;



#dialog-content-backdrop::before
{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	filter: blur(1px);
	
}
/*
#dialog-content-backdrop
{

	color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);

	.fullscreen(absolute, 5000);

}
*/

#dialog-content-container
{
	.fullscreen(fixed);

	text-align: center;
}

.dialog-container
{	
	.shadow;

	text-align: left;
	
	position: relative;
	
	max-width: 85%;
	min-width: 400px;
	top:10%;
	.transition(top .3s);
	
	display:inline-block;
	
	.borderRadius;
	
	background: white;
	border:none;
	overflow: hidden;

	font-size:1em;
	color:@color;
	
	margin-left: auto;
	margin-right: auto;

/*
background: rgb(255,255,255); //
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); // FF3.6+ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); // Chrome,Safari4+ 
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); // Chrome10+,Safari5.1+ 
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); // Opera 11.10+ 
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); // IE10+ 
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); // W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); // IE6-9 
*/
	

			
	.dialog-header
	{
		margin:5px 5px 0 5px;
		.borderRadius;
		padding:7px 12px;
		background-color: #d3d3d3;
		
		.gradient(#f5f5f5, #e8e8e8);


		
		h3
		{
			color:#333;
			font-weight: 100;
			margin-bottom: 0px;
			margin-top: 0px;
			font-size:1.1em;
			text-transform: capitalize;
		}
		
	}

	.dialog-body
	{

		padding:25px 15px;
	}
	
	.dialog-footer
	{
		border-top:1px solid @borderColor;
		
		padding:10px;
		text-align: right;
		
		background: #f5f5f5;
		
		button
		{
			margin-right:10px;
		}
		
		button:last-child
		{
			margin-right:0;
		}
	}
	
	span
	{
		color:@color;
	};
	
	span:first-letter
	{
		text-transform: uppercase;		
	};
};